.btn-t {
    padding: 10px 30px;
    margin-right: 20px;
    cursor: pointer;
}

.active {
    background-color: #adff2f;
    color: black;
}

.cart-container {
    width: 20%;
    position: fixed;
    top: 14%;
    right: 7%;
    z-index: 1000;
}