#root {

  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center;
  place-items: center; */

}

.flex-cart {
  display: flex;
  align-items: center;
  gap: 20px;

}

.sticky {
  /* position: fixed; */


}